.gpt3__blog {
    display: flex;
    flex-direction: column;
    &__heading {
        width: 100%;
        text-align: left;
        margin-bottom: 5rem;
        h1 {
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 62px;
            line-height: 75px;
            letter-spacing: -0.4px;
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        &__groupA {
            flex: 0.75;
            margin-right: 2rem;
        }
        &__groupB {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }
    }
}

@media screen and (max-width: 990px) {
    .gpt3__blog__container {
        flex-direction: column;
        &__groupA {
            margin: 2rem 0;
            .gpt3__blog__container__article {
                width: 48%;
                &__image {
                    height: 250px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .gpt3__blog__container {
        &__groupB {
            grid-template-columns: repeat(1, 1fr);
        }
        &__groupA {
            .gpt3__blog__container__article {
                width: 100%;
            }
        }
    }
    .gpt3__blog__heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__blog__heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}