.gpt3__header {
    display: flex;
    &__content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 5rem;
        h1 {
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 62px;
            line-height: 75px;
            letter-spacing: -0.04em;
        }
        p {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: var(--color-text);
            margin-top: 1.5rem;
        }
        &__input {
            width: 100%;
            margin: 2rem 0 1rem;
            display: flex;
            input {
                flex: 2;
                width: 100%;
                min-height: 50px;
                background: var(--color-footer);
                border: 2px solid var(--color-footer);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 0 1rem;
                outline: none;
                color: #fff;
                font-family: var(--font-family);
                font-size: 20px;
                line-height: 27px;
            }
            button {
                flex: 0.6;
                width: 100%;
                min-height: 50px;
                background: #ff4820;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-family: var(--font-family);
                font-size: 20px;
                line-height: 27px;
                font-style: normal;
                font-weight: bold;
                color: #ffffff;
                cursor: pointer;
                outline: none;
                padding: 0 1rem;
                border: none;
            }
        }
        &__people {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2rem;
            img {
                width: 181.79px;
                height: 38px;
            }
            p {
                margin: 0 0 0 1rem;
                font-family: var(--font-family);
                font-size: 12px;
                font-weight: 500;
                line-height: 38px;
                color: #ffffff;
                text-align: center;
            }
        }
        &__image {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
        &__content {
            margin: 0 0 3rem;
        }
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header {
        h1 {
            font-size: 48px;
            line-height: 60px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
        &__content {
            &__people {
                flex-direction: column;
                p {
                    margin: 0;
                }
            }
            &__input input,
            &__input button {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header {
        h1 {
            font-size: 36px;
            line-height: 48px;
        }
        p {
            font-size: 14px;
            line-height: 24px;
        }
        &__content {
            &__people {
                flex-direction: column;
                p {
                    margin: 0;
                }
            }
            &__input input,
            &__input button {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}